In [96]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import chain
from itertools import combinations

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
315,tt1160368,20000000,17280326,12 Rounds,John Cena|Ashley Scott|Brian J. White|Aidan Gi...,Renny Harlin,Survive all 12,When New Orleans cop Danny Fisher prevents a b...,108,Action|Adventure|Drama|Thriller,The Mark Gordon Company|Fox Atomic|20th Centur...,3/19/2009,5.9,2009
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,9/24/2002,7.9,2002
1385,tt0372237,35000000,68915888,Guess Who,Bernie Mac|Ashton Kutcher|Zoe Saldana|Judith S...,Kevin Rodney Sullivan,His house. His rules. Some in-laws were made t...,The fiancÃ© of an African-American woman who's...,105,Comedy|Romance,Columbia Pictures|Regency Enterprises|3 Arts E...,3/25/2005,5.4,2005
1079,tt1876451,14000000,24637469,Sparkle,Whitney Houston|Cee Lo Green|Derek Luke|Mike E...,Salim Akil,Celebrate the legend.,"Musical prodigy, Sparkle (Jordin Sparks) strug...",116,Drama|Music,TriStar Pictures|Phoenix Pictures|Stage 6 Film...,8/17/2012,5.9,2012
86,tt3850590,15000000,61548707,Krampus,Adam Scott|Toni Collette|Allison Tolman|David ...,Michael Dougherty,You don't want to be on his list.,A horror comedy based on the ancient legend ab...,98,Horror|Comedy|Fantasy,Universal Pictures|Legendary Pictures,11/26/2015,5.9,2015

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [103]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format

# добавим в таблицу столбец с прибылью для каждого фильма
data ['profit'] = data.revenue-data.budget

# создадим запасную таблицу с преобразованными строками в списки, чтобы обращаться к ней напрямую
data_lists = data.copy()
data_lists.genres = data.genres.str.split('|')
data_lists.director = data.director.str.split('|')
data_lists.cast = data.cast.str.split('|')
data_lists.production_companies = data.production_companies.str.split('|')

# определим функцию преобразования строки в список
def strtolist (string):
    result = string.str.split('|')
    return result

# добавим прибыль в резервную таблицу
data_lists ['profit'] = data_lists.revenue-data_lists.budget

# преобразуем колонку с датой из строки в формат datatime
data_lists['release_date'] = pd.to_datetime(data_lists['release_date'])

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [131]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
# answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)' # +
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()]['original_title']

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [7]:
# сортировка столбца budget по максимальному значению
data.sort_values(by='budget', ascending=False).head(1)['original_title']

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [130]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)' # +

In [8]:
data[data.runtime == data.runtime.max()]['original_title']

1157    Gods and Generals
Name: original_title, dtype: object

ВАРИАНТ 2

In [9]:
# сортировка столбца runtime по максимальному значению
data.sort_values(by='runtime', ascending=False).head(1)['original_title']

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [104]:
answers['3'] = '3. Winnie the Pooh (tt1449283)' # +

In [11]:
data[data.runtime == data.runtime.min()]['original_title']

768    Winnie the Pooh
Name: original_title, dtype: object

ВАРИАНТ 2

In [12]:
# сортировка столбца runtime по минимальному значению
data.sort_values(by='runtime', ascending=True).head(1)['original_title']

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [105]:
answers['4'] = '2. 110' # +

In [14]:
round(data.runtime.mean())

110

# 5. Каково медианное значение длительности фильмов?

In [106]:
answers['5'] = '1. 107' # +

In [16]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [107]:
answers['6'] = '5. Avatar (tt0499549)' # +

In [18]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data[data.profit == data.profit.max()]['original_title']

239    Avatar
Name: original_title, dtype: object

ВАРИАНТ 2

In [19]:
data.sort_values(by='profit', ascending=False).head(1)['original_title']

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [108]:
answers['7'] = '5. The Lone Ranger (tt1210819)' # +

In [21]:
data[data.profit == data.profit.min()]['original_title']

1245    The Lone Ranger
Name: original_title, dtype: object

ВАРИАНТ 2

In [22]:
data.sort_values(by='profit', ascending=True).head(1)['original_title']

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [109]:
answers['8'] = '1. 1478' # +

In [24]:
len(data.loc[data.revenue > data.budget])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [110]:
answers['9'] = '4. The Dark Knight (tt0468569)' # +

In [26]:
data[data.revenue == (data.query('release_year == 2008').revenue.max())]['original_title']

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [111]:
answers['10'] = '5. The Lone Ranger (tt1210819)' # +

In [28]:
data[data.profit == (data.query('2012 <= release_year <= 2014').profit.min())]['original_title']

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [112]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = '3. Drama' # +

In [10]:
# воспользуемся запасной таблицей, где столбцы со строками уже преобразованы в списки
data_lists.explode('genres').genres.value_counts().head(1)

Drama    782
Name: genres, dtype: int64

ВАРИАНТ 2

In [6]:
# применение функции к оригинальному датасету
Counter(strtolist(data.genres).sum()).most_common(1)

[('Drama', 782)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [113]:
answers['12'] = '1. Drama' # +

In [12]:
data_lists[data_lists.profit > 0].explode('genres').genres.value_counts().index[0]

'Drama'

ВАРИАНТ 2

In [18]:
Counter(strtolist(data.genres)[data.profit > 0].sum()).most_common(1)

[('Drama', 560)]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [114]:
answers['13'] = '5. Peter Jackson' # +

In [20]:
data.groupby(['director'])['revenue'].sum().sort_values(ascending=False).index[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [115]:
answers['14'] = '3. Robert Rodriguez' # +

In [29]:
action = data_lists.explode('director').explode('genres')
action[action.genres == 'Action'].director.value_counts().head(1)

Robert Rodriguez    9
Name: director, dtype: int64

ВАРИАНТ 2

In [33]:
data_lists.explode('director').explode('genres').groupby(['genres'])['director'].agg(['value_counts']).loc['Action'].head()

                    value_counts
director
Robert Rodriguez               9
Michael Bay                    7
Paul W.S. Anderson             7
Antoine Fuqua                  6
Ridley Scott                   6

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [116]:
answers['15'] = '3. Chris Hemsworth' # +

In [37]:
data_lists[data_lists.revenue == (data_lists.query('release_year == 2012').revenue.max())].explode('cast').cast

970     Robert Downey Jr.
970           Chris Evans
970          Mark Ruffalo
970       Chris Hemsworth
970    Scarlett Johansson
Name: cast, dtype: object

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [117]:
answers['16'] = '3. Matt Damon' # +

In [44]:
data_lists.query('budget > budget.mean()').explode('cast').cast.value_counts().head()

Matt Damon        18
Adam Sandler      17
Angelina Jolie    16
Tom Cruise        15
Eddie Murphy      15
Name: cast, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [118]:
answers['17'] = '2. Action' # +

In [49]:
actor = data_lists.explode('cast')
actor[actor.cast == 'Nicolas Cage'].explode('genres').genres.value_counts().head(1)

Action    17
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [119]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)' # +

In [57]:
movie = data_lists.explode('production_companies')
movie[movie.profit == (movie.query("production_companies == 'Paramount Pictures'").profit.min())]['original_title'].head(1)

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [120]:
answers['19'] = '5. 2015' # +

In [59]:
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).head(1)

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [121]:
answers['20'] = '1. 2014' # +

In [66]:
profit = data_lists.explode('production_companies')
profit[(profit.production_companies.str.contains('Warner Bros'))].groupby(['release_year'])['profit'].sum().sort_values(ascending=False)

release_year
2014    2292949646
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1844008221
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1282142579
2012    1258020056
2002    1022709901
2015     870368348
2006     625351872
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [122]:
answers['21'] = '4. Сентябрь' # +

In [72]:
data_lists['month'] = data_lists.release_date.dt.month
data_lists.month.value_counts().sort_values(ascending=False).head(1)

9    227
Name: month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [123]:
answers['22'] = '2. 450' # +

In [79]:
len(data_lists.query('month == 6 | month == 7 | month == 8'))

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [124]:
answers['23'] = '5. Peter Jackson' # +

In [80]:
data_lists.explode('director').query('month == 12 | month == 1 | month == 2').director.value_counts().sort_values(ascending=False)

Peter Jackson        7
Clint Eastwood       6
Steven Soderbergh    6
Nancy Meyers         4
Shawn Levy           4
                    ..
Ben Garant           1
David Moreau         1
Harmony Korine       1
Chris Weitz          1
Alan Parker          1
Name: director, Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [125]:
answers['24'] = '5. Four By Two Productions' # +

In [84]:
data_lists[data_lists.original_title.str.len() == data_lists.original_title.str.len().max()].explode('production_companies')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
1448,tt0443453,18000000,261572744,Borat: Cultural Learnings of America for Make ...,"[Sacha Baron Cohen, Ken Davitian, Luenell, Pam...",[Larry Charles],"Come to Kazakhstan, it's nice!",Kazakh journalist Borat Sagdiyev travels to Am...,82,[Comedy],Twentieth Century Fox Film Corporation,2006-11-02,6.4,2006,243572744,11
1448,tt0443453,18000000,261572744,Borat: Cultural Learnings of America for Make ...,"[Sacha Baron Cohen, Ken Davitian, Luenell, Pam...",[Larry Charles],"Come to Kazakhstan, it's nice!",Kazakh journalist Borat Sagdiyev travels to Am...,82,[Comedy],Four By Two Productions,2006-11-02,6.4,2006,243572744,11

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [126]:
answers['25'] = '3. Midnight Picture Show' # +

In [90]:
data_lists['length'] = data_lists.overview.str.len()
data_lists.explode('production_companies').groupby(['production_companies'])['length'].mean().sort_values(ascending=False).head(1)

production_companies
Midnight Picture Show    1000.0
Name: length, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [127]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave' # +

In [93]:
data.sort_values(by='vote_average', ascending=False).head(round(len(data)*0.01))['original_title']

599                                   The Dark Knight
118                                      Interstellar
125                                The Imitation Game
9                                          Inside Out
34                                               Room
1183                          The Wolf of Wall Street
128                                         Gone Girl
1191                                 12 Years a Slave
119                           Guardians of the Galaxy
1081    The Lord of the Rings: The Return of the King
1800                                          Memento
370                                         Inception
872                                       The Pianist
138                          The Grand Budapest Hotel
1188                                              Her
28                                          Spotlight
124                                        Big Hero 6
177                            The Fault in Our Stars
863             The Lord of the Rings: The Two Towers
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [128]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint' # +

In [99]:
data_lists['cast_duo'] = data_lists.cast.apply(lambda x: list(combinations(x, 2)))
cast_duo_list = list(chain(*data_lists.cast_duo))
Counter(cast_duo_list).most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

# Submission

In [132]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint',
 '2': '2. Gods and Generals (tt0279111)',
 '1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'}

In [133]:
# и убедиться что ни чего не пропустил)
len(answers)

27